<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="reflectionCode" value="EAAAALPMyDABJk8vFg9YarzDB8Zu2nuxgpAf9pLXjdCxZZfl8a/F9lGp62s7q15rH8KE4Q==" />
    <add key="reflectionUser" value="EAAAAGtYvYya6OVaQX0HlHpWdV5/nAWAK5pDZzW3nF2YbZa321pfdHS5t26T8Tpcf2dgfA==" />
    <add key="Debug" value="False" />
    <add key="version" value="1.1.0" />

    <add key="urlMultimedia" value="https://multimedios.portafolio.cr/Logos/" />
    <add key="urlDocs" value="https://recepcionde.portafolio.cr/DE/" />
    <add key="TipoPagoCP" value="('CHQ','TEF','N/C')" />
    <add key="AnticipoTipo" value="O/D" />
    <add key="AnticipoSubtipo" value="49" />

  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
